.buttonClass{
    display: flex;
    align-items: center;
    margin-right: 10px;
    white-space: nowrap;
    font-weight: 500;
    font-size: .93rem;
    line-height: 1;
    color: #686b78;
    position: relative;
    padding: 6px 6px;
    background: #e9e1e1;
    border: 1px solid #dcdee8;
    box-sizing: border-box;
    border-radius: 6px;
    cursor: pointer;
}